/*Rerira a decoração de texto dos links*/
.link {
    text-decoration: none;
}

/**/
.button {
    border: 1px solid #ffffff;
    padding: 10px;
    margin: 10px;
    background: rgb(195, 199, 135);
    border-radius: 10px;
}

